<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="WSL Service Agent"
           Language="1033"
           Version="$(Version)"
           Manufacturer="SaltSpectre"
           UpgradeCode="A9E8B7C6-5D4E-3F2A-1B0C-9D8E7F6A5B4C"
           InstallerVersion="500"
           Compressed="yes"
           Scope="perUser">

    <SummaryInformation Description="WSL Service Agent - Keeping your WSL distributions alive, one sleep at a time" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" 
             Title="WSL Service Agent" 
             Level="1" 
             Display="expand" 
             ConfigurableDirectory="INSTALLFOLDER"
             AllowAbsent="no"
             AllowAdvertise="no"
             Description="The main WSL Service Agent application (required).">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="ConfigFileComponent" />
      <ComponentRef Id="ApplicationShortcutComponent" />
      
      <Feature Id="AutoStartFeature" 
               Title="Auto start at logon" 
               Level="1"
               AllowAdvertise="no"
               Description="Automatically starts WSL Service Agent when you log in to Windows.">
        <ComponentRef Id="AutoStartComponent" />
      </Feature>
    </Feature>

    <Icon Id="ProductIcon" SourceFile="../src/Resources/app.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/SaltSpectre/WSLServiceAgent" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <ui:WixUI Id="WixUI_FeatureTree" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ManufacturerFolder" Name="SaltSpectre">
        <Directory Id="INSTALLFOLDER" Name="WslServiceAgent" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ManufacturerProgramsFolder" Name="SaltSpectre">
        <Directory Id="ApplicationProgramsFolder" Name="WslServiceAgent" />
      </Directory>
    </StandardDirectory>

  </Package>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutComponent" Guid="B3A4C8D1-2E5F-4A6B-9C7D-8E1F2A3B4C5D">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="WSL Service Agent"
                  Description="Keeping your WSL distributions alive, one sleep at a time"
                  Target="[INSTALLFOLDER]wslserviceagent.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ProductIcon" />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall WSL Service Agent"
                  Description="Uninstalls WSL Service Agent"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="CleanUpManufacturerPrograms" Directory="ManufacturerProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\SaltSpectre\WSLServiceAgent"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="PathEnvironmentComponent" Guid="C5D6E7F8-9A0B-1C2D-3E4F-5A6B7C8D9E0F">
        <Environment Id="PathEnvironment"
                     Name="PATH"
                     Value="[INSTALLFOLDER]"
                     Permanent="no"
                     Part="last"
                     Action="set"
                     System="no" />
        <CreateFolder />
        <RegistryValue Root="HKCU"
                       Key="Software\SaltSpectre\WSLServiceAgent"
                       Name="PathSet"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AutoStartComponent" Guid="D6E7F8A9-0B1C-2D3E-4F5A-6B7C8D9E0F1A">
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="WSLServiceAgent"
                       Type="string"
                       Value="&quot;[INSTALLFOLDER]wslserviceagent.exe&quot;"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ConfigFileComponent" Guid="E7F8A9B0-1C2D-3E4F-5A6B-7C8D9E0F1A2B">
        <File Id="ConfigFile" 
              Source="../src/config.json" 
              KeyPath="yes" 
              NeverOverwrite="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
